<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RetailTrade.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RetailTrade.Properties.Settings.RetailTradeConnectionString"
            connectionString="Data Source=SERVER;Initial Catalog=RetailTrade;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RetailTrade.Properties.Settings.db2ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db2.mdb"
            providerName="System.Data.OleDb" />
        <add name="RetailTrade.Properties.Settings.ConnectionString"
            connectionString="Provider=VFPOLEDB.1;Data Source=D:\WORK\FarmTrade\Вента(Дн)_F98DF9B1_090232.dbf"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <RetailTrade.Properties.Settings>
            <setting name="MainSplitDist" serializeAs="String">
                <value>195</value>
            </setting>
            <setting name="MyLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MySize" serializeAs="String">
                <value>592, 560</value>
            </setting>
            <setting name="MyState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="impSplitDist" serializeAs="String">
                <value>164</value>
            </setting>
        </RetailTrade.Properties.Settings>
    </userSettings>
</configuration>