<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RetailTrade.Properties.Settings.RetailTradeConnectionString"
            connectionString="Data Source=SERVER;Initial Catalog=RetailTrade;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RetailTrade.Properties.Settings.db2ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db2.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>